IDI_ICON              ICON    DISCARDABLE     "res/icons/app2.ico"
1 VERSIONINFO
FILEVERSION 1,1,1,21
PRODUCTVERSION 1,1,1,21
FILEFLAGSMASK 0x3fL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "FileVersion", "1,1,1,21"
            VALUE "Description", "Cafe control programm"
            VALUE "Copyright", "(C)2014, Kudryashov Vasily"
            VALUE "Email", "end1_1@yahoo.com"
        END
    END
END
